
ul { list-style:none; }

.navbar-brand img { width: 150px; }

.navbar-nav {
  margin: 0.25%;
  padding-left: 2%;
}

.navbar-default .navbar-nav > li > a {
    color: #031b4e;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #0069ff;
}

.w-60 { width: 60%; }
.w-100 { width: 100%; }

.ml-2 { margin-left: 2%; }
.mb-2 { margin-bottom: 2%; }
.mb-5 { margin-bottom: 5%; }
.mtb-10 { margin: 10% 0; }

.p-20p { padding: 20px; }
.p-30p { padding: 30px; }
.ptb-2 { padding: 2% 0; }
.ptb-5 { padding: 5% 0; }
.ptb-10 { padding: 10% 0; }

.b-radius-5p { border-radius: 5px; }

/**WELCOME LOGIN**/

.login-google { position: relative; }

.welcome-text {
  position: absolute;
  transform: translateY(20%);
}

.login-google > i {
  color: #ea4335;
  position: absolute;
  left: 5%;
  transform: translate(0, 10%);
}

/**PARTNERS**/

.partners img { width: 120px; }

.partners ul > li { padding-left: 3%; }

/**REGIONS**/

.border-b-row { border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/**TEXT STYLE AND COLORS**/

.opacity-07 { opacity: 0.7; }

.font-15 { font-size: 15px; }
.font-20 { font-size: 20px; }
.font-25 { font-size: 25px; }
.font-60 { font-size: 60px; }
.font-bold { font-weight: bold; }

.text-white { color: #FFF; }
.text-grey { color: #939EB4; }
.text-light-blue { color: #00d7d2; }
.text-blue { color: #0069ff; }
.text-dark-blue { color: #031B4E; }

/**BG COLORS**/

.bg-white { background-color: #FFF; }
.bg-light-grey { background-color: #F3F5F9; }
.bg-green { background-color: #15cd72; }
.bg-blue { background-color: #0049FF; }
.bg-dark-blue { background-color: #0F2656; }

/**BUTTONS**/

.btn-border-blue {
  color: #0069ff !important;
  background-color: none;
  border: 1px solid #0069ff;
}

.btn-border-blue:hover {
  color: #FFF !important;
  background-color: #0069ff !important;
}
